blockquote {
  background-color: black;
}
html {
   font-family: 'Chathura';
   font-size: 110%;
 }

body{
  font-size: 100px;
  background-image:url(https://i.pinimg.com/originals/b9/c1/83/b9c183e79ed58ad25d682f88ad9d654b.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

#space{
  height: 100px;
  background-image: url("https://data.whicdn.com/images/290413386/original.gif");
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
  background-size: 80%;
}

nav {
  height: 30px;
}

.links {
  text-decoration: none;
  color: black;
}

.links:hover {
  text-shadow: 1px 1px 1px grey;
  transition: 0.3s ease;
}

img:hover {
  border-radius: 20px;
  transition: 1s;
}

/* canvas {
  display: block;
  margin: auto;
  background-color: #fff;
  border: solid 1px #000;
} */
